# Folder to ignore
__pycache__/
.vscode/
Atrier/
DataAnalysis/DataPLQY/
DataAnalysis/DataStreakPL/
PowerTimeExposureCycle/

# Data file to ignore
*.pkl
DataAnalysis/Misc_LaserParam.ipynb
TestList.py
Parameter*
parameter*
