# Folder to ignore
__pycache__/
.vscode/
Atrier/
DataAnalysis/DataPLQY/
DataAnalysis/DataStreakPL/
PowerTimeExposureCycle/PowerTimeCycles/

# Data file to ignore
*.pkl
*.csv
./DataAnalysis/Misc_LaserParam.ipynb
./DataAnalysis/PlotScrappedDataV5.ipynb
./TestList.py
./Parameter*
./parameter*
